.black1 { background-image: sax(black1, magenta); }
.black2 { background-image: sax(black2, magenta); }
.black3 { background-image: sax(black3, magenta); }
.blue1 { background-image: sax(blue1, magenta); }
.blue2 { background-image: sax(blue2, magenta); }
.blue3 { background-image: sax(blue3, magenta); }
.circle { background-image: sax(circle, magenta); }
.fill-opacity1 { background-image: sax(fill-opacity1, magenta); }
.fill-opacity2 { background-image: sax(fill-opacity2, magenta); }
.opacity1 { background-image: sax(opacity1, magenta); }
.opacity2 { background-image: sax(opacity2, magenta); }
.opacity3 { background-image: sax(opacity3, magenta); }
.stroke-opacity2 { background-image: sax(stroke-opacity2, magenta); }
.sub1 { background-image: sax(sub1, magenta); }
.sub2 { background-image: sax(sub2, magenta); }
.sub3 { background-image: sax(sub3, magenta); }
.sub4 { background-image: sax(sub4, magenta); }
.text { background-image: sax(text, magenta); }
