.attributes { background-image: sax("attributes", magenta); }
.both { background-image: sax("both", magenta); }
.none { background-image: sax("none", magenta); }
.viewbox { background-image: sax("viewbox", magenta); }
