.group1 { background-image: sax(group1, $green: purple, $blue: magenta); }
.group2 { background-image: sax(group2, $green: purple, $blue: magenta); }
.group3 { background-image: sax(group3, $green: purple, $blue: magenta); }
.group4 { background-image: sax(group4, $lime: yellow, $green: purple, $blue: magenta); }
.group5 { background-image: sax(group5, $lime: yellow, $green: purple, $blue: magenta); }
.group6 { background-image: sax(group6, $lime: yellow, $green: purple, $blue: magenta); }
