.clipPath { background-image: sax(clipPath, magenta); }
.mask { background-image: sax(mask, $blue: red, $red: purple, $yellow: magenta); }
.mask2 { background-image: sax(mask2, $blue: red, $cyan: magenta); }
