.cjk { background-image: sax(cjk, $red: white, $gold: purple); }
.utf8-bom { background-image: sax(utf8-bom, $red: white, $gold: purple); }
.utf8 { background-image: sax(utf8, $red: white, $gold: purple); }
