os:
  - osx
language: node_js
node_js:
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
  - "node"
  - "lts/*"
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install sassc ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install --devel sass/sass/sass ; fi
cache:
  directories:
    - node_modules
